[sources.source_db.credentials]
drivername = "postgresql"
database = "source_db"
password = 
username = "postgres"
host = "localhost"
port = 15432

[destination.stage_db.credentials]
drivername = "postgresql"
database = "stage_db"
password = 
username = "postgres"
host = "localhost"
port = 15432
